*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbarItems{
  text-decoration: none;
  color: black;
}
.navbarItems:hover{
  color: red;
}
.active{
  color: red;
}
.res-list-box{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 300px;
  width: 500px;
  background: lightblue;
  margin: 10px auto;
}
.res-form{

  margin: 50px auto;
  max-width: 300px;
  padding: 0px 10px;
  color: grey;
}
.spinner{
  text-align: center;
}
.print-name{
  /* width: 300px; */
  margin: 0px auto;
}
.search{
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-around;
}
.search input{
  width: 95%;
  border: 0px !important;
 border-radius: 0 !important;
}
.search .fa-search{
 width: 5%;
 text-align: center;
 font-size: 25px;
 margin: 10px auto;
}
.search:active{
  box-shadow: none !important;
}
.shop-card{
  box-shadow: 10px 10px 10px grey;
}
.product-card-body{
  height: 200px !important;
}